<link rel="stylesheet" href="/css/user_profile.css">
<div class="container">

    <div>
        <img class="avatar_" src="<%= user.avatar %>" alt="<%= user.name  %>">
    </div>



    <div>
        <% if(user.id==profile_user.id){ %>
            <!-- if user match show the form -->
            <form  action="/users//update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
                <div class="form_data">
                    <input class="pf_name" type="text" name="name" placeholder="Yours name" value="<%= profile_user.name %>" required>
                    <input class="pf_email" type="email" name="email" placeholder="Yours Email" value="<%= profile_user.email %>" required>
    
                    <input class="avtar" type="file" name="avatar" placeholder="Profile Picture" >
                    <input class="button" type="submit" value="Update" >
                </div>
              


            </form>

            <% } else {%>
                <!-- if user m show the Profuiole only -->
                <p>
                    <%= profile_user.name %>
                </p>
                <p>
                    <%= profile_user.email %>
                </p>
                <% } %>
    </div>
</div>